body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Azul claro */
    margin: 0;
    padding: 0;
}

header {
    background-color: #4682b4; /* Azul-aco */
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box; /* Garante que a largura do elemento inclui a borda e o preenchimento */
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4682b4; /* Azul-aco */
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #357ebd; /* Azul-aco mais escuro */
}