.company-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 20px;
}

.company-description {
    text-align: center;
}

.company-description h2 {
    margin-top: 20px;
}

.company-description p, .company-description ul {
    margin-top: 10px;
}
