#adicionar-localidades select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #fff; /* Cor de fundo */
    color: #333; /* Cor do texto */
}

#adicionar-localidades select:hover {
    border-color: #4682b4; /* Cor da borda ao passar o mouse */
}

#adicionar-localidades select:focus {
    outline: none; /* Remover o contorno ao focar */
    border-color: #357ebd; /* Cor da borda ao focar */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra ao focar */
}
