/* src/components/ConsultaItens.css */

#consulta-itens {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#consulta-itens h2 {
    margin-top: 0;
    color: #4682b4; /* Azul-aco */
}

#form-consulta-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#form-consulta-item label {
    margin-bottom: 5px;
    font-weight: bold;
}

#form-consulta-item select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

#item-info {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f8ff; /* Azul claro */
}

#item-info h3 {
    margin-top: 0;
    color: #4682b4; /* Azul-aco */
}

#item-info p {
    margin: 10px 0;
}