.consulta-contatos {
    margin-top: 20px;
}

/* ContatosConsultoria.css */

.contatos-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Define 3 colunas com a largura igual */
    gap: 20px; /* Espaçamento entre os blocos */
}

.contato-item {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}


.contato-item:nth-child(3n+1) {
    margin-left: 0;
}

.contato-item:nth-child(3n) {
    margin-right: 0;
}

.contato-item p {
    margin: 5px 0;
}

.contato-item p:first-child {
    font-weight: bold;
}
