/* EditarItem.css */

.editar-item-container {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .editar-item-container h2 {
    margin-top: 0;
    color: #4682b4; /* Azul-aco */
  }
  
  .form-editar-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-editar-item label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-editar-item input[type="text"],
  .form-editar-item textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .editar-item-buttons-container {
    display: flex;
    gap: 10px;
  }
  
  .editar-item-buttons-container button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4682b4; /* Azul-aco */
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .editar-item-buttons-container button:hover {
    background-color: #357ebd; /* Azul-aco mais escuro */
  }
  