/* ResponderContatos.css */

.contato-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.contato-field {
    flex: 0 0 30%; /* Define a largura dos campos */
}

.form-responder-contato label,
.form-responder-contato select,
.form-responder-contato textarea,
.form-responder-contato button {
    margin-bottom: 10px;
}

.form-responder-contato label {
    font-weight: bold;
}

.form-responder-contato select,
/* ResponderContatos.css */

.form-responder-contato textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none; /* Desabilita o redimensionamento */
}


.form-responder-contato button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Adicionado aqui */
}

.form-responder-contato button:hover {
    background-color: #0056b3;
}